In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
import joblib

# Let's define seed for reproducebility
seed = 42

In [17]:
df = pd.read_csv("processed1.csv")

In [18]:
df.head()

,Unnamed: 0,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 4 SGPA,SEM 5 SGPA,SEM 6 SGPA,SEM 7 SGPA,SEM 8 SGPA,Label,...,time_to_reach college,Average attendence,Internet at home,2 hr straight lecture,submission on time,"Five lecture straight,woulf you attend all?","Five hr practical staight,do you attend all",Feedback of teacher,preffered transportatin to college,Enrolled to coaching class
0,5,2,6.10,1,5.90,5.40,5.2,6.1,6.20,1,...,2,1,1,1,1,1,1,6,2,1
1,123,2,6.10,2,6.20,6.90,6.0,8.5,5.60,1,...,2,2,1,0,1,0,1,10,2,0
2,154,0,6.08,0,5.41,6.88,6.0,6.2,6.15,1,...,0,1,1,0,1,1,0,10,2,0
3,132,0,6.20,0,7.30,5.50,7.6,7.4,6.70,1,...,0,3,1,1,1,1,1,22,2,1
4,98,0,8.96,0,7.60,6.20,8.6,5.6,9.00,1,...,2,3,1,1,1,1,0,11,1,0

In [19]:
# Let's split the data set(target and features)

y=df["Label"]
df.drop(["Label","Unnamed: 0"],axis=1,inplace=True)
X=df.copy()

In [20]:
X.shape , y.shape

((262, 19), (262,))

In [21]:
X.columns

Index(['SEM 1 KT', 'SEM 2 SGPA', 'SEM 2 KT', 'SEM 4 SGPA', 'SEM 5 SGPA',
       'SEM 6 SGPA', 'SEM 7 SGPA', 'SEM 8 SGPA', 'Hour_per_week_wriassignment',
       'time_to_reach college', 'Average attendence', 'Internet at home',
       '2 hr straight lecture', 'submission on time',
       'Five lecture straight,woulf you attend all?',
       'Five hr practical staight,do you attend all', 'Feedback of teacher',
       'preffered transportatin to college', 'Enrolled to coaching class'],
      dtype='object')

In [12]:
# let's split data , for model training

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, test_size = 0.2, random_state = seed)

In [13]:
# initialize the model

model = LogisticRegression()

# training model 

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# Evaluate

print("Accuracy of the model: ", accuracy_score(y_test, y_pred))

Accuracy of the model:  1.0

In [14]:
# Evaluate with confusion matrix

print(confusion_matrix(y_test, y_pred))

[[33  0]
 [ 0 20]]

In [15]:
# Let's store our model

#Sava the model to disk
filename = '../../models/student_dropout/model_sd.sav'
joblib.dump(model, filename)

['../../models/student_dropout/model_sd.sav']